/* Diagram */
:root {
    --red_colour: #D0021B;
    --orange_colour: #F5A623;
    --yellow_colour: #F8E71C;
    --brown_colour: #8B572A;
    --light_green_colour: #7ED321;
    --green_colour: #417505;
    --pink_colour: #BD10E0;
    --purple_colour: #9013FE;
    --blue_colour: #4A90E2;
    --teal_colour: #50E3C2;
    --lime_green_colour: #B8E986;
    --black_colour: #000000;
    --dark_gray_colour: #4A4A4A;
    --gray_color: #9B9B9B;
    --white_colour: #ffffff;
}

g.fretMarkers {
    opacity: 50%;
    fill: var(--gray_color);
}

g.note.transparent:hover {
    opacity: 1;
}

g.note {
    fill: var(--white_colour);
    stroke-width: 1px;
    stroke: var(--black_colour);
}

g.note:hover {
    cursor: default;
}

g.note.selected>circle {
    opacity: 1;
    stroke-dasharray: 4, 4;
    stroke-width: 3px;
    stroke: var(--black_colour);
}

g.note.hidden {
    opacity: 0;
}

g.note.transparent {
    opacity: 0.3;
}

g.note.visible {
    opacity: 1;
    fill: var(--white_colour);
}

g.note.red {
    fill: var(--red_colour);
}

g.note.red>text {
    stroke: var(--white_colour);
    fill: var(--white_colour);
}

g.note.orange {
    fill: var(--orange_colour);
}

g.note.orange>text {
    stroke: var(--black_colour);
    fill: var(--black_colour);
}

g.note.yellow {
    fill: var(--yellow_colour);
}

g.note.yellow>text {
    stroke: var(--black_colour);
    fill: var(--black_colour);
}

g.note.brown {
    fill: var(--brown_colour);
}

g.note.brown>text {
    stroke: var(--white_colour);
    fill: var(--white_colour);
}

g.note.light_green {
    fill: var(--light_green_colour);
}

g.note.light_green>text {
    stroke: var(--black_colour);
    fill: var(--black_colour);
}

g.note.green {
    fill: var(--green_colour);
}

g.note.green>text {
    stroke: var(--white_colour);
    fill: var(--white_colour);
}

g.note.pink {
    fill: var(--pink_colour);
}

g.note.pink>text {
    stroke: var(--white_colour);
    fill: var(--white_colour);
}

g.note.purple {
    fill: var(--purple_colour);
}

g.note.purple>text {
    stroke: var(--white_colour);
    fill: var(--white_colour);
}

g.note.blue {
    fill: var(--blue_colour);
}

g.note.blue>text {
    stroke: var(--white_colour);
    fill: var(--white_colour);
}

g.note.teal {
    fill: var(--teal_colour);
}

g.note.teal>text {
    stroke: var(--black_colour);
    fill: var(--black_colour);
}

g.note.lime_green {
    fill: var(--lime_green_colour);
}

g.note.lime_green>text {
    stroke: var(--black_colour);
    fill: var(--black_colour);
}

g.note.black {
    fill: var(--black_colour);
}

g.note.black>text {
    stroke: var(--white_colour);
    fill: var(--white_colour);
}

g.note.dark_gray {
    fill: var(--dark_gray_colour);
}

g.note.dark_gray>text {
    stroke: var(--white_colour);
    fill: var(--white_colour);
}

g.note.gray {
    fill: var(--gray_color);
}

g.note.gray>text {
    stroke: var(--black_colour);
    fill: var(--black_colour);
}


path.string {
    stroke: var(--black_colour);
    fill: none;
}

path.frets {
    stroke: var(--black_colour);
    stroke-width: 1px;
    fill: none;
}

g.note>text {
    stroke: var(--black_colour);
    stroke-width: 0px;
    fill: var(--black_colour);
    text-anchor: middle;
    baseline-shift: -2px;
    dominant-baseline: middle;
    font-size: 18px;
}

#editable-div {
    text-align: center;
    font-size: 18px;
}

#fretboard-diagram-creator {
    padding-top: 10px;
    /* border: 1px solid; */
}

div.menu {
    text-align: center;
    /* text-align: center; */
}

text.marker {
    text-anchor: middle;
    font-size: 16px;
    fill: var(--black_colour);
}


/* Controls */

/* Actions on nodes */

#color-selector {
    /* background-color: lightgray; */
    margin: auto;
    padding-bottom: 10px;
    width: 280px;
    display: flex;
    justify-content: space-between;
}

button.color {
    width: 44px;
}

button {
    height: 25px;
}

button.color:hover {
    transform: scale(1.1);
}

.color.red {
    background-color: var(--red_colour);
}

.color.orange {
    background-color: var(--orange_colour);
}

.color.yellow {
    background-color: var(--yellow_colour)
}

.color.brown {
    background-color: var(--brown_colour)
}

.color.light_green {
    background-color: var(--light_green_colour)
}

.color.green {
    background-color: var(--green_colour);
}

.color.pink {
    background-color: var(--pink_colour);
}

.color.purple {
    background-color: var(--purple_colour);
}

.color.blue {
    background-color: var(--blue_colour);
}

.color.teal {
    background-color: var(--teal_colour);
}

.color.lime_green {
    background-color: var(--lime_green_colour);
}

.color.black {
    background-color: var(--black_colour);
}

.color.dark_gray {
    background-color: var(--dark_gray_colour);
}

.color.gray {
    background-color: var(--gray_color);
}

.color.white {
    background-color: var(--white_colour);
}




/* Global actions */

#global-actions {
    margin: auto;
    width: 280px;
    display: flex;
    justify-content: space-between;
}

@supports (width: 100vw) {
    figure.half-full {
        max-width: 100vw;
        width: 1200px;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -600px;
        margin-right: -600px;
    }
    @media only screen and (max-width: 1200px) {
        figure.half-full {
            max-width: 100vw;
            width: 1000px;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -500px;
            margin-right: -500px;
            overflow-y: auto;
        }
    }
    @media only screen and (max-width: 1000px) {
        figure.half-full {
            max-width: 100vw;
            width: 100%;
            left: 0;
            right: 0;
            margin: 0;
            overflow-y: auto;
        }
    }
}

.num-input {
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
}

.error {
    font-size: 18px;
    text-anchor: middle;
}